body {
    margin: 0;
    background-color: #1F2937;
}

h1{
    font-family: Karla;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: #FFFFFF;

}

#insecure{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: azure;


}

#generate{
    background-color: #10B981;
    width: 191;
    height: 42;
    top: 284px;
    left: 52px;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    gap: 12px;
    color: #FFFFFF; 
    border: none;

}

hr{
    width: 446.0000000000017;
}

#passwords{
    background-color: #273549;   
}

#password1{
    background-color: #273549;
    color: #55F991;
    width: 191;
    height: 42;
    top: 284px;
    left: 52px;
    border: none;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 12px;
}

#password2{
    background-color: #273549;
    color: #55F991;
    width: 191;
    height: 42;
    top: 284px;
    left: 52px;
    border: none;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 12px;
}
    
    
    